html {
    scroll-behavior: smooth;
}
body {
    margin:0;
    width: 100%;
    height: auto;
    background: linear-gradient(black, #1E0101);
}

#uparrow {
    width: 2vw;
    height: 2vw;
    position: fixed;
    margin: 94vh 96vw;
}

#introduction {
    width: 100%;
    margin: 0;
    height: 100vh;
    background-image: url("background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 700%;
    color: white;
    font-family: slayer;
}

#introduction > p {
    position: absolute;
    animation-name: intro;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-iteration-count: infinite;
}

#downarrow {
    position: relative;
    align-self: flex-end;
    margin-bottom: 15px;
    width: 50px;
    height: auto;
    animation-name: arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@font-face{
    font-family: slayer;
    src: url(Slaytanic.ttf);
}
@font-face{
    font-family: metalart;
    src: url(AmazDooMRight.ttf);
}

@keyframes arrow{
    0%{
        bottom: 0px;
    }
    25%{
        bottom: 15px;
    }
    50%{
        bottom: 0px;
    }
    75%{
        bottom: 15px;
    }
    100%{
        bottom: 0px;
    }
}

@keyframes intro{
    0%{
        font-size: 100%;
        transform: rotate(0deg);
        color: white;
    }
    25%{
        font-size: 120%;
        transform: rotate(25deg);
        color: red;
    }
    50%{
        font-size: 100%;
        transform: rotate(0deg);
        color: white;
    }
    75%{
        font-size: 120%;
        transform: rotate(-25deg);
        color: red;
    }
    100%{
        font-size: 100%;
        transform: rotate(0deg);
        color: white;
    }
}

#page {
    width: 80%;
    margin: 0 auto;
}

#page > header {
    display: flex;
    justify-content: center;
    color: #9F9C9B;
    font-size: 200%;
}

#headerlogo {
    width: 200px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;    
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
}
ol a {
    display: block;
    text-decoration: none;
    color: #9F9C9B;
    padding:0 5px;
}
ol > li {
    float:left;
    width:300px;
    margin-left:1px;
    height:1.5em;
}

ol > li:hover > a {
    animation-name: list;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes list{
    0%{
        color: #9F9C9B;
    }
    25%{
        color: red;
    }
    50%{
        color: #9F9C9B;
    }
    75%{
        color: #DDDDDD;
    }
    100%{
        color: #9F9C9B;
    }
}

ol > li:hover > ul {
    display:block;
}

ol > li > ul {
    display:none;
    list-style-type:none;
    color: #9F9C9B;
    padding: 0.1em 0 0 0;
    margin:0;
}

ol > li > ul > li {
    position:relative;
}

ol > li > ul > li:hover > a {
    color: red;
}

@keyframes list{
    0%{
        color: #9F9C9B;
    }
    25%{
        color: red;
    }
    50%{
        color: white;
    }
    75%{
        color: #9F9C9B;
    }
    100%{
        color: red
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slayerfig {
    margin: 0 auto 3em;
    width: 100%;
    margin-top: 14em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slayer {
    width: 60%;
    height: auto;
}

article {
    width: 100%;
    min-height: 150px;
}

article > header {
    width: 90%;
    min-height: 5em;
    background-color: #FF0000;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    border-radius: 15px;
    border: #9F9C9B 3px solid;
}

h2 {
    align-self: center;
    margin: 0.4em 50px 0;
    position: absolute;
    font-size: 4em;
    font-family: metalart;
    letter-spacing: 0.1em;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: white;
}

article > section {
    margin: 1em auto 3em;
    padding: 1em 2em 1.5em 2em;
    justify-self: center;
    width: 75%;
    background-color: #AAAAAA;
    border-radius: 15px;
}

article > section > h3 {
    margin: 0.1em;
    font-size: 3em;
    font-family: metalart;
    font-weight: 100;
}
article > section > p {
    margin-top: 0;
}

#awards > section {
    margin-bottom: 2em;
}

#currentmembersgrid {
    margin: 0 auto;
    width: 90%;
    display: grid;
    gap: 20px;
    grid-template: auto auto / repeat(4, 1fr);
}

#currentmembersgrid > div {
    object-fit: cover;
}

#currentmembersgrid > div > img {
    width: 100%;
}

#currentmembersgrid > div > p {
    margin: 0 0 2em 1em;
}

#formermembersflex {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

#formermembersflex > div {
    width: 33%;
    object-fit: cover;
}

#formermembersflex > div > img {
    width: 100%;
}

#formermembersflex > div > p {
    margin: 20px 0 2em 1em;
}

table {
    margin: 0 auto 2em;
    width: 55%;
}

table > tbody > tr > td:first-child {
    text-align: center;
    width: 14%;
}

table > tbody > tr > td:nth-child(2) {
    width: 36%;
}

table > tbody > tr > td:nth-child(3) {
    width: 36%;
}

table > tbody > tr > td:last-child {
    width: 14%;
    text-align: center;
}

table, th, td {
    border: black 1px solid;
    padding: 2px;
    border-collapse: collapse;
}

.won {
    background-color: lightgreen;
}

.nominated {
    background-color: lightpink;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: #9F9C9B;
    height: 3.5em;
    font-size: 1.2em;
}

footer > div {
    text-align: center;
    width: 10%;
    animation-name: foot;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes foot{
    0%{ 
        color: #9F9C9B;
    }
    50%{
        color: #B30900;
    }
    100%{
        color: #9F9C9B;
    }
}